<script src="http://code.jquery.com/jquery-3.3.1.min.js">
</script>
<div class="header">

    <div class="row">
        <div class="col-md-2">
            {{ page.branding }}
        </div>

        <div class="col-md-10 d-none d-lg-block">
            <div class="site-navigation">
                {{ page.navigation }}
            </div>
        </div>
    </div>
</div>

<div class="herosection">
    <div class="hero-content">
        {{ page.hero }}
    <div class="demo_btn btn-Requestquote"><a href="#">Request Quote</a></div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="mobile_navigation d-lg-none d-xl-none">
            {{ page.mobile_navigation }}
        </div>
    </div>
</div>

<div class="content">
<div class="row">
    <div class="col-md-12">
        {{ page.content }}
    </div>
</div>
</div>

<div class="socialmedia">
    <div class="col-md-10 offset-md-2 soc">
        <div class="social">
            {{ page.socialmedia }}
        </div>
    </div>
</div>


<div class="intouch">
<div class="row">
        <div class="col-md-7">
        <div class="blackbox">
            {{ page.getintouchsection }}
            <div class="demo_btn btn-getintouch"><a href="#">GET IN TOUCH</a></div>
        </div>
        </div>
        <div class="col-md-5">
        <div class="getintouchsectionslider">
            {{ page.getintouchsectionslider }}
        </div>
</div>
</div>
</div>

<div class="primaryfooter">
            <div class="row">
                <div class="col-md-10 col-sm">
                    {{ page.primary_footer }}
                </div>
                <div class="col-md-2">
                    {{ page.primary_footer1 }}
                </div>
            </div>


</div>


<div class="footer">
    {{ page.footer }}
</div>

</div>
